<ion-tabs>
  <ion-tab-bar slot="bottom" style="overflow:auto; justify-content: flex-start">
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="athlete">
      <ion-icon name="people"></ion-icon>
      <ion-label>Athletes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="staff">
      <ion-icon name="people"></ion-icon>
      <ion-label>Staff</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="event">
      <ion-icon name="american-football"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="practice">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Practice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="game">
      <ion-icon name="baseball"></ion-icon>
      <ion-label>Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournament">
      <ion-icon name="earth"></ion-icon>
      <ion-label>Tournament</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="training-schedule">
      <ion-icon name="fitness"></ion-icon>
      <ion-label>Training Schedules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="injury">
      <ion-icon name="bandage"></ion-icon>
      <ion-label>[PH]Injuries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="bandage"></ion-icon>

      <!--<ion-icon name="log-in-outline"></ion-icon> -->
      <ion-label>[PH]Injuries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-icon name="bandage"></ion-icon>

      <!-- <ion-icon name=name="create-outline"></ion-icon> -->
      <ion-label>[PH]Injuries</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
