<ion-button (click)="showEvents()"> show events </ion-button>
<table mat-table [dataSource]="events" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="local">
    <th mat-header-cell *matHeaderCellDef> Local </th>
    <td mat-cell *matCellDef="let element"> {{element.local}} </td>
  </ng-container>

  <ng-container matColumnDef="profiles">
    <th mat-header-cell *matHeaderCellDef> Profiles </th>
    <td mat-cell *matCellDef="let element"> {{element.profiles}} </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
