<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/stats"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid fixed>
  <ion-row>
    <ng-template [ngIf]="athleteGameStats != undefined">
      <tr *ngFor="let ags of athleteGameStats">
        <ion-col>
          <ion-item button (click)="onClick(ags)">
            <ion-avatar slot="start"> <img [src]="ags.athlete.profile.photo"> </ion-avatar>
            <ion-label> {{ags.athlete.profile.name.split(' ',1)}} </ion-label>
          </ion-item>
        </ion-col>
      </tr>
      <ion-col>
        <ng-template [ngIf]="currentAthlete != undefined || currentAthlete.id != 0">
          <ion-item>
            <ion-label> Selected </ion-label>
            <ion-avatar slot="end"> <img [src]="currentAthlete.profile.photo"> </ion-avatar>
            <ion-label> {{currentAthlete.profile.name.split(' ',1)}} </ion-label>
          </ion-item>
        </ng-template>
      </ion-col>
    </ng-template>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getNegativeColor(currentStats.errors)"> Errors {{currentStats.errors}} </h6> </label>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'errors')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getNegativeColor(currentStats.fouls)"> Fouls {{currentStats.fouls}} </h6> </label>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'fouls')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getNegativeColor(currentStats.redCards)"> Red Cards {{currentStats.redCards}} </h6> </label>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'redCards')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getNegativeColor(currentStats.yellowCards)"> Yellow Cards {{currentStats.yellowCards}} </h6> </label>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'yellowCards')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getPositiveColor(currentStats.turnOvers)"> TurnOvers {{currentStats.turnOvers}} </h6>
        </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'turnOvers')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getPositiveColor(currentStats.tries)"> Tries {{currentStats.tries}} </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'tries')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getPositiveColor(currentStats.mauls)"> Mauls {{currentStats.mauls}} </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'mauls')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getPositiveColor(currentStats.playingTime)"> Playing Time {{currentStats.playingTime}} </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'playingTime')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getColorPercent(statsService.percentage(currentStats,'tacklesHit','tacklesMiss'))">
            Tackles {{statsService.percentage(currentStats,'tacklesHit','tacklesMiss')}} % </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'tacklesHit')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'tacklesMiss')">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getColorPercent(statsService.percentage(currentStats,'conversionkicksHit','conversionkicksMiss'))">
            Conversion Kicks {{statsService.percentage(currentStats,'conversionkicksHit','conversionkicksMiss')}} % </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'conversionkicksHit')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'conversionkicksMiss')">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getColorPercent(statsService.percentage(currentStats,'goalkicksHit','goalkicksMiss'))">
            Goal Kicks {{statsService.percentage(currentStats,'goalkicksHit','goalkicksMiss')}} % </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'goalkicksHit')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'goalkicksMiss')">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getColorPercent(statsService.percentage(currentStats,'dropkicksHit','dropkicksMiss'))">
            Drop Kicks {{statsService.percentage(currentStats,'dropkicksHit','dropkicksMiss')}} % </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'dropkicksHit')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'dropkicksMiss')">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getColorPercent(statsService.percentage(currentStats,'lineoutsHit','lineoutsMiss'))">
            Line Outs {{statsService.percentage(currentStats,'lineoutsHit','lineoutsMiss')}} % </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'lineoutsHit')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'lineoutsMiss')">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <label position="fixed">
          <h6 [style.color]="getColorPercent(statsService.percentage(currentStats,'offsidekicksHit','offsidekicksMiss'))">
            Offside Kicks {{statsService.percentage(currentStats,'offsidekicksHit','offsidekicksMiss')}} % </h6> </label>
        <ion-button color="success" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'offsidekicksHit')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" slot="end"
                    (click)="statsService.increment(currentStats,'offsidekicksMiss')">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-button type="submit" class="ion-no-margin">Submit</ion-button>
  </ion-item>
</ion-grid>
