table {
  width: 100%;
}

.mat-header-cell {
  border-right: 1px solid black;
  align-self: stretch;
  text-align: center;
}

.mat-cell {
  text-align: center;
  padding: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.mat-footer-cell {
  text-align: center;
  padding: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

canvas{
  width:100% !important;
  height:500px !important;
}
