<ion-content class="athlete-profile">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/staff"></ion-back-button>
      </ion-buttons>
      <ion-buttons *ngIf="staff" slot="end">
        <ion-button (click)="openContact(staff)">
          <ion-icon slot="icon-only" ios="call-outline" md="call-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpeakerShare(staff)">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <ion-avatar>
      <img [src]="staff?.profile.photo">
    </ion-avatar>
    <h2>{{staff?.profile.name}}</h2>
  </div>

    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <img [src]="staff?.profile.photo">
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <ion-label>
          <div class="ion-text-center"> <b> Nome </b> </div>
          <div class="ion-text-center"> {{staff?.profile.name}} </div>
        </ion-label>

      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <ion-label>
          <div class="ion-text-center"> <b> Tipo de Staff </b> </div>
          <div class="ion-text-center"> {{staff?.staffType.name}} </div>
        </ion-label>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <ion-label>
          <div class="ion-text-center"> <b> Número de Staff </b> </div>
          <div class="ion-text-center"> {{staff?.staffNumber}} </div>
        </ion-label>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <ion-label>
          <div class="ion-text-center"> <b> Data de Nascimento </b> </div>
          <ion-datetime displayFormat="MMM DD, YYYY" value="{{staff?.profile.birth}}"></ion-datetime>
        </ion-label>
      </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Morada </b> </div>
        <div class="ion-text-center"> {{staff?.profile.address}} </div>
      </ion-label>
    </mat-grid-tile>
  </mat-grid-list>


  <div class="ion-padding athlete-profile">
    <p> Say hello to {{staff?.profile.name}} on social media!</p>
    <hr>

    <ion-chip color="twitter" button>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-chip>

    <ion-chip color="dark" button>
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>GitHub</ion-label>
    </ion-chip>

    <ion-chip color="instagram" button>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-chip>
  </div>
</ion-content>
