<ion-header>
    <ion-title>Attendances</ion-title>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let athletePractice of this.navParams.get('athletePractices')">
      <ion-item detail="false" (click)="close()" routerLink="/app/athlete/athlete-profile/{{athletePractice.athlete.id}}">
        <ion-label>
          <ng-template [ngIf]="athletePractice.regular">
            <h3 style="color:green;">{{athletePractice.athlete.profile.name}}</h3>
          </ng-template>
          <ng-template [ngIf]="athletePractice.physio">
            <h3 style="color:orangered;">{{athletePractice.athlete.profile.name}}</h3>
          </ng-template>
          <ng-template [ngIf]="!athletePractice.regular && !athletePractice.physio">
            <h3 style="color:red;">{{athletePractice.athlete.profile.name}}</h3>
          </ng-template>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
