<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/calendar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let game of games">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" routerLink="/app/stats/post/{{game.id}}">
              <ion-avatar slot="start">
                <img [src]="game.opponent.photo">
              </ion-avatar>
              <ion-label>
                <h2>{{game.opponent.name}}</h2>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item detail="false">
            <h4>{{game.date | date:"medium"}}</h4>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
