<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/calendar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/app/stats/post">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let stat of athleteGameStats">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" routerLink="/app/stats">
              <ion-avatar slot="start">
                <img [src]="stat.game.opponent.photo">
              </ion-avatar>
              <ion-label>
                <h2>{{stat.game.comment}}</h2>
                <p>{{stat.athlete.profile.name}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-item detail="false" >
            <ion-label routerLink="/app/athlete">
              <h3>Perfil {{stat.athlete.profile.name}}</h3>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
