<ion-content class="athlete-profile">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/athlete"></ion-back-button>
      </ion-buttons>
      <ion-buttons *ngIf="athlete" slot="end">
        <ion-button (click)="openContact(athlete)">
          <ion-icon slot="icon-only" ios="call-outline" md="call-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpeakerShare(athlete)">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <ion-avatar>
      <img [src]="athlete?.profile.photo">
    </ion-avatar>
    <h2>{{athlete?.profile.name}}</h2>
  </div>

  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="3">
        <img [src]="athlete?.profile.photo">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Nome </b> </div>
        <div class="ion-text-center">  {{athlete?.profile.name}} </div>
      </ion-label>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Posições </b> </div>
        <div class="ion-text-center"> {{athlete?.positions}} </div>
      </ion-label>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Altura [cm] </b> </div>
        <div class="ion-text-center"> {{athlete?.height}} </div>
      </ion-label>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Peso [kg] </b> </div>
        <div class="ion-text-center"> {{athlete?.weight}} </div>
      </ion-label>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Data de Nascimento </b> </div>
        <ion-datetime displayFormat="MMM DD, YYYY" value="{{athlete?.profile.birth}}"> </ion-datetime>
      </ion-label>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Morada </b> </div>
        <div class="ion-text-center"> {{athlete?.profile.address}} </div>
      </ion-label>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <ion-label>
        <div class="ion-text-center"> <b> Número de Atleta </b> </div>
        <div class="ion-text-center"> {{athlete?.athleteNumber}} </div>
      </ion-label>
    </mat-grid-tile>

  </mat-grid-list>


  <div class="ion-padding athlete-profile">
    <p> Say hello to {{athlete?.profile.name}} on social media!</p>

    <hr>

    <ion-chip color="twitter" button>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-chip>

    <ion-chip color="dark" button>
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>GitHub</ion-label>
    </ion-chip>

    <ion-chip color="instagram" button>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-chip>
  </div>
</ion-content>
