<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/calendar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/app/tournament/post">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tournaments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table mat-table [dataSource]="this.dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> A Date would be cool tbh </td>
    </ng-container>


    <ng-container matColumnDef="classification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Classification </th>
      <td mat-cell *matCellDef="let element"> {{element.classification}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="games">
      <th mat-header-cell *matHeaderCellDef> Games </th>
      <td mat-cell *matCellDef="let element">
        <ion-button (click)="createPopover(element.games,$event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <ion-button routerlink="/app/practice/update">
          <ion-icon name="chevron-up-circle-outline"> </ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ion-content>
