<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/event"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form class="example-form" (ngSubmit)="processEvent()" #loginForm="ngForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label position="stacked"> Name </mat-label>
      <input matInput [(ngModel)]="event.name" name="name" placeholder="Ex. Jantar de Grupo/Reunião do Clube">
      <button mat-button *ngIf="event.name" matSuffix mat-icon-button aria-label="Clear"
              (click)="event.name=''"> <mat-icon>x</mat-icon> </button>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label position="stacked"> Description </mat-label>
      <input matInput [(ngModel)]="event.description" name="description"
             placeholder="Ex. Jantar de grupo/Reunião com o escalão senior.">
      <button mat-button *ngIf="event.description" matSuffix mat-icon-button aria-label="Clear"
              (click)="event.description=''"> <mat-icon>x</mat-icon> </button>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label position="stacked"> Local </mat-label>
      <input matInput required [formControl]="requiredFormControl" [errorStateMatcher]="matcher"
             [(ngModel)]="event.local" name="local" placeholder="Ex. Restaurante X/Campo da Equipa X"> <!--name="name" id="name" type="text">-->
      <button mat-button *ngIf="event.local" matSuffix mat-icon-button aria-label="Clear"
              (click)="event.local=''"> <mat-icon> <b> X </b> </mat-icon> </button>
      <mat-error *ngIf="requiredFormControl.hasError('required')">
        Local is <b> Required </b>
      </mat-error>
    </mat-form-field>

      <ion-item>
        <mat-label position="stacked"> Date </mat-label>
        <ion-datetime displayFormat="MMM DD YYYY HH mm" [(ngModel)]="event.date" name="date"
                      min="2020" max="2025" placeholder="Click to Select"></ion-datetime>
      </ion-item>

      <ion-item>
        <mat-label> Attendances </mat-label>
          <ion-select interface="alert-radio-group" [(ngModel)]="event.profiles" name="profiles"
              multiple="true" cancelText="Cancel" okText="Confirm" placeholder="Click to Select">
              <tr *ngFor="let profile of profiles">
                <ion-select-option [value]="profile"> {{profile.name}}</ion-select-option>
              </tr>
          </ion-select>
        <ion-item slot="end">
          <ion-label> All </ion-label>
          <ion-checkbox slot="start" [(ngModel)]="all" name="all" (ionChange)="toggleAll()"></ion-checkbox>
        </ion-item>
      </ion-item>

      <ion-item>
        <ion-button [disabled]="!loginForm.form.valid || requiredFormControl.hasError('required')"
         type="submit" class="ion-no-margin">Submit</ion-button>
      </ion-item>
  </form>
</ion-content>
