<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/event"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form (ngSubmit)="processEvent()" #loginForm="ngForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked"> Name <ion-text color="danger">*</ion-text></ion-label>
        <input required type="text" id="name"
               [(ngModel)]="event.name" name="name" #name="ngModel">
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Description </ion-label>
        <input required type="text"[(ngModel)]="event.description" name="description">
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Local </ion-label>
        <input required type="tel"[(ngModel)]="event.local" name="local">
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Date </ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.date" name="date"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Attendances </ion-label>
        <ion-select interface="alert-radio-group" [(ngModel)]="event.profiles" name="profiles"
                    multiple="true" cancelText="Cancel" okText="Confirm">
          <tr *ngFor="let profile of profiles">
            <ion-select-option [value]="profile"> {{profile.name}}</ion-select-option>
          </tr>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-button [disabled]="!loginForm.form.valid" type="submit" class="ion-no-margin">Submit</ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
