<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/game"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form class="example-form" (ngSubmit)="processGame()" #loginForm="ngForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label> Local </mat-label>
        <input matInput required [formControl]="requiredFormControl" [errorStateMatcher]="matcher"
               [(ngModel)]="game.local" placeholder="Ex. Campo X"> <!--name="name" id="name" type="text">-->
        <button mat-button *ngIf="game.local" matSuffix mat-icon-button aria-label="Clear"
                (click)="game.local=''"> <mat-icon>x</mat-icon> </button>
        <mat-error *ngIf="requiredFormControl.hasError('required')">
          Local is <b> Required </b>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label position="stacked"> Team Score </mat-label>
        <input matInput type="tel"[(ngModel)]="game.teamScore" name="height"
               pattern="[0-9]{1,3}" placeholder="Ex. 100">
        <button mat-button *ngIf="game.teamScore" matSuffix mat-icon-button aria-label="Clear"
                (click)="game.teamScore=''"> <mat-icon>x</mat-icon>
        </button>
        <mat-error>
          Please enter a valid value
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label position="stacked"> Opponent Score </mat-label>
        <input matInput type="tel"[(ngModel)]="game.opponentScore" name="height"
               pattern="[0-9]{1,3}" placeholder="Ex. 100">
        <button mat-button *ngIf="game.opponentScore" matSuffix mat-icon-button aria-label="Clear"
                (click)="game.opponentScore=''"> <mat-icon>x</mat-icon>
        </button>
        <mat-error>
          Please enter a valid value
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label position="stacked"> Comment </mat-label>
        <input matInput #input maxlength="256" type="tel"[(ngModel)]="game.comment" name="comment"
               placeholder="Ex. Jogo muito bem conseguido. Parabéns.">
        <button mat-button *ngIf="game.comment" matSuffix mat-icon-button aria-label="Clear"
                (click)="game.comment=''"> <mat-icon>x</mat-icon>
        </button>
        <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
      </mat-form-field>

      <ion-item>
        <mat-label> Opponent </mat-label>
        <ion-select [(ngModel)]="game.opponent" name="opponent"
                    cancelText="Cancel" okText="Confirm" placeholder="Click to Select">
          <tr *ngFor="let opponent of opponents">
            <ion-select-option [value]="opponent"> {{opponent.name}}</ion-select-option>
          </tr>
        </ion-select>
        <ion-buttons slot="end">
          <ion-button routerLink="/app/opponent/post">
            <ion-label> Create New </ion-label>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item>
        <mat-label position="stacked"> Date </mat-label>
        <ion-datetime displayFormat="MMM DD YYYY HH mm" [(ngModel)]="game.date" name="date"
                      min="2020" max="2025" placeholder="Click to Select"></ion-datetime>
      </ion-item>

      <ion-item>
        <mat-label position="stacked"> Call </mat-label>
        <ion-select [(ngModel)]="game.athletes" name="call"
                    multiple="true" cancelText="Cancel" okText="Confirm" placeholder="Click to Select">
          <tr *ngFor="let athlete of athletes">
            <ion-select-option [value]="athlete"> {{athlete.profile.name}}</ion-select-option>
          </tr>
        </ion-select>
        <ion-item slot="end">
          <ion-label> All </ion-label>
          <ion-checkbox slot="start" [(ngModel)]="all" name="all" (ionChange)="toggleAll()"></ion-checkbox>
        </ion-item>
      </ion-item>

      <ion-item>
        <ion-button [disabled]="!loginForm.form.valid" type="submit" class="ion-no-margin">Submit</ion-button>
      </ion-item>
  </form>
</ion-content>
