<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/game"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Roster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form (ngSubmit)="processRoster()">
      <div *ngFor="let select of selected">
        <ion-item>
          <ion-label position="stacked"> {{select.position.name}} </ion-label>
          <ion-select [(ngModel)]="select.value" name="value"
                      cancelText="Cancel" okText="Confirm"
                      [selectedText]="select.value != '' ? select.value.profile.name : ''">

            <!--[compareWith]="compareAthletes"-->
            <ng-template [ngIf]="athletes != undefined">
                <ion-select-option
                  *ngFor="let athlete of athleteService.getAthletesByPosition(athletes,select.position.name)"
                [value]="athlete">
                  {{athlete.profile.name}}
                </ion-select-option>
                <ion-select-option [value]=null>None</ion-select-option>
            </ng-template>
          </ion-select>
        </ion-item>
      </div>


      <ion-item>
        <ion-button type="submit" class="ion-no-margin">Submit</ion-button>
      </ion-item>
  </form>
</ion-content>
