<ion-header translucent="true">
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment"> <!--(ionChange)="update()"-->
      <ion-segment-button value="upcomming">
        Upcomming
      </ion-segment-button>
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="past">
        Past
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionChange)="searchFilter($event)" (ionCancel)="onCancel()" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="openFilterMenu()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-menu side="end" contentId="main" menuId="filter">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title> Filter </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeFilterMenu()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="baseball"></ion-icon>  <!-- GAMES -->
          <ion-label> Games </ion-label>
          <ion-checkbox slot="start" (click)="gameCheckChange($event)" checked> </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="earth"></ion-icon>  <!-- TOURNAMENTS -->
          <ion-label> Tournaments </ion-label>
          <ion-checkbox slot="start" (click)="tournamentCheckChange($event)" checked> </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="barbell"></ion-icon>  <!-- PRACTICES -->
          <ion-label> Practices </ion-label>
          <ion-checkbox slot="start" (click)="practiceCheckChange($event)" checked> </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="american-football"></ion-icon>  <!-- EVENTS -->
          <ion-label> Events </ion-label>
          <ion-checkbox slot="start" (click)="eventCheckChange($event)" checked> </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label> Upcomming Days Filter: </ion-label>
          <ion-input [(ngModel)]="upcomming_days" type="number" (ionChange)="getUpcomming()"></ion-input>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-content>
    <ion-list>
      <ion-item-group *ngFor="let info of getDisplayInfo()" [hidden]="info.hide">
        <ion-item-divider sticky>
          <ion-label *ngIf="this.calendarService.isGame(info)">
            <div> {{info.date | date:"medium"}} Game vs {{info.opponent.name}} at {{info.local}} </div>
          </ion-label>
          <ion-label *ngIf="this.calendarService.isEvent(info)">
            <div> {{info.date | date:"medium"}} Event at {{info.local}} </div>
          </ion-label>
          <ion-label *ngIf="this.calendarService.isPractice(info)">
            <div> {{info.date | date:"medium"}} Practice at {{info.local}} </div>
          </ion-label>
          <ion-label *ngIf="this.calendarService.isTournament(info)">
            <div> {{info.date | date:"medium"}} {{info.name}} at {{info.local}} </div>
          </ion-label>
          <ion-item slot="end" *ngIf="segment === 'upcomming'">
            <b> [{{this.calendarService.getRemainingTime(info)}}] </b>
          </ion-item>
        </ion-item-divider>
      </ion-item-group>
    </ion-list>
  </ion-content>


  <ion-list-header [hidden]="info.length > 0">
    Nothing Found
  </ion-list-header>
</ion-content>

