<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/calendar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="information"></ion-icon>
      </ion-button>
      <ion-button routerLink="/app/athlete/post">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Athletes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Athletes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let athlete of athletes">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" routerLink="/app/athlete/athlete-profile//{{athlete.id}}">
              <ion-avatar slot="start">
                <img [src]="athlete.profile.photo" [alt]="athlete.profile.name + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{athlete.profile.name}}</h2>
                <p>{{athlete.positions}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>
              <ion-item detail="false" >
                <ion-label>
                  <h3>Perfil {{athlete.profile.name}}</h3>
                  <ion-button slot="end" routerLink="/app/athlete/update//{{athlete.id}}">
                    <ion-icon name="chevron-up-circle-outline"> </ion-icon>Edit
                  </ion-button>
                  <ion-button slot="end"  (click)="presentAlert(athlete)">
                    <ion-icon name="close-circle-outline"></ion-icon>Delete
                  </ion-button>
                </ion-label>
              </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
