<ion-button (click)="showAthletes()"> show athletes </ion-button>
<table mat-table [dataSource]="athletes" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef> Height </th>
    <td mat-cell *matCellDef="let element"> {{element.height}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="athletenumber">
    <th mat-header-cell *matHeaderCellDef> Athlete Number </th>
    <td mat-cell *matCellDef="let element"> {{element.athleteNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Comment </th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <ng-container matColumnDef="profile">
    <th mat-header-cell *matHeaderCellDef> Profile </th>
    <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
  </ng-container>

  <ng-container matColumnDef="practices">
    <th mat-header-cell *matHeaderCellDef> Practices </th>
    <td mat-cell *matCellDef="let element"> {{element.practices}} </td>
  </ng-container>

  <ng-container matColumnDef="trainingschedules">
    <th mat-header-cell *matHeaderCellDef> Training Schedules </th>
    <td mat-cell *matCellDef="let element"> {{element.trainingschedules}} </td>
  </ng-container>

  <ng-container matColumnDef="games">
    <th mat-header-cell *matHeaderCellDef> Games </th>
    <td mat-cell *matCellDef="let element"> {{element.games}} </td>
  </ng-container>

  <ng-container matColumnDef="athletegamestats">
    <th mat-header-cell *matHeaderCellDef> Athlete Game Stats </th>
    <td mat-cell *matCellDef="let element"> {{element.athletegamestats}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
