<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/calendar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="information"></ion-icon>
      </ion-button>
      <ion-button routerLink="/app/athlete/post">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Athletes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Athletes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let athlete of athletes">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" routerLink="/app/athlete/athlete-profile//{{athlete.id}}">
              <ion-avatar slot="start">
                <img [src]="athlete.profile.photo" [alt]="athlete.profile.name + ' profile picture'">
              </ion-avatar>
              <ion-label>
                <h2>{{athlete.profile.name}}</h2>
                <p>{{athlete.positions}}</p>
              </ion-label>
            </ion-item>
          </ion-card-header>
              <ion-item detail="false" >
                <ion-label>
                  <h3>Perfil {{athlete.profile.name}}</h3>
                  <ion-button slot="end" routerLink="/app/athlete/update//{{athlete.id}}">
                    <ion-icon name="chevron-up-circle-outline"> </ion-icon>Edit
                  </ion-button>
                  <ion-button slot="end" routerLink="/app/athlete/delete">
                    <ion-icon name="close-circle-outline"></ion-icon>Delete
                  </ion-button>
                </ion-label>
              </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" name="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light" routerLink="/app/athlete/post">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/app/athlete/delete">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>-->

</ion-content>



<!--<ion-button (click)="showAthletes()"> show athletes </ion-button>
<table mat-table [dataSource]="athletes" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef> Height </th>
    <td mat-cell *matCellDef="let element"> {{element.height}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="athletenumber">
    <th mat-header-cell *matHeaderCellDef> Athlete Number </th>
    <td mat-cell *matCellDef="let element"> {{element.athleteNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Comment </th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <ng-container matColumnDef="profile">
    <th mat-header-cell *matHeaderCellDef> Profile </th>
    <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
  </ng-container>

  <ng-container matColumnDef="practices">
    <th mat-header-cell *matHeaderCellDef> Practices </th>
    <td mat-cell *matCellDef="let element"> {{element.practices}} </td>
  </ng-container>

  <ng-container matColumnDef="trainingschedules">
    <th mat-header-cell *matHeaderCellDef> Training Schedules </th>
    <td mat-cell *matCellDef="let element"> {{element.trainingschedules}} </td>
  </ng-container>

  <ng-container matColumnDef="games">
    <th mat-header-cell *matHeaderCellDef> Games </th>
    <td mat-cell *matCellDef="let element"> {{element.games}} </td>
  </ng-container>

  <ng-container matColumnDef="athletegamestats">
    <th mat-header-cell *matHeaderCellDef> Athlete Game Stats </th>
    <td mat-cell *matCellDef="let element"> {{element.athletegamestats}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->

