<ion-header>
  <ion-title>Attendances</ion-title>
</ion-header>

<ion-content fullscreen="true">
    <table mat-table [dataSource]="this.athletePractice" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef > Name</th>
        <td mat-cell *matCellDef="let item"> {{item.athlete.profile.name}} </td>
      </ng-container>
      <ng-container matColumnDef="athlete">
        <th mat-header-cell *matHeaderCellDef > Name</th>
        <td mat-cell *matCellDef="let item"> {{item.athlete.id}} </td>
      </ng-container>

      <ng-container matColumnDef="regular">
        <th mat-header-cell *matHeaderCellDef> Regular</th>
        <td mat-cell *matCellDef="let item">
            <ion-checkbox [(ngModel)]="item.regular"></ion-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="physio">
        <th mat-header-cell *matHeaderCellDef> Physio</th>
        <td mat-cell *matCellDef="let item">
            <ion-checkbox [(ngModel)]="item.physio"></ion-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ion-content>
